{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> Welcome to the movie Revie Website </title>
        {% endif %}
    </head>
    <body>
        <h3> popular Movies</h3>
        <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>

        <h3> Upcoming Movies</h3>
        <ul>
            {{ macro.displayMovieList(upcoming)}}

        </ul>

        <h3> Now Showing Movies</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}

        </ul>




    </body>
</html>